h2 {
  text-align: center;
}

.navbar {
  position: fixed;
  background-color: darkgreen;
}

#open_side {
  z-index: 2;
  font-size: 28px;
  cursor: pointer;
  position: fixed;
  transition: .3s;
  text-align: right;
  margin-left: -60px;
  height: 35px;
  width: 100px;
  top: 51%;
  padding-right: 5px;
  padding-bottom: 5px;
  color: black;
  background-color: white;
  border: 1px;
  border-radius: 21px;
  border-width: medium;
}

#open_side:hover {
  color: darkgreen;
  left: 5px;
  transition: .3s;
}

.Cover {
  /* z-index: 2; */
  position: absolute;
  /* text-align: center; */
  left: 0px;
  top: 0px;
  height: 650px;
  width: 1348px;
  padding: 0px;
  /* margin-left: 0%; */
  /* padding-right: 30px; */
}

#background {
  z-index: 1;
  opacity: 0.5;
  height: 650px;
  width: 1348px;
  margin-top: 0px;
  /* margin-bottom: 0px; */
  background-image: url(../images/mountain.jpg);
  background-repeat: no-repeat;
  background-size: 1348px 650px;
  background-attachment: fixed;
}

#title {
  z-index: 2;
  font-size: 55px;
  width: 1348px;
  top: 85px;
  font-family: 'Oswald', sans-serif;
  font-variant: normal;
  position: absolute;
  text-align: center;
  color: black;
  opacity: 0;
  transition: 1s;
}

#line1 {
  z-index: 2;
  top: 310px;
  left: 50%;
  width: 0%;
  border: 2px solid white;
  position: absolute;
  text-align: center;
  transition: 1s;
  transition-delay: 1s;
  /* height: 1px; */
}

#Welcome {
  z-index: 2;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  color: black;
  text-align: center;
  width: 1348px;
  /* margin-top: 40%; */  /*small browser */
  margin-top: 270px;
  opacity: 0;
  transition: 1s;
  transition-delay: .5s;
}

.topbar {
  height: 50px;
  top: -20px;
  width: 1332px;
  display: inline-block;
  position: absolute;
  list-style-type: none;
  margin: 0px;
  text-align: center;
  overflow: hidden;
  border-radius: 15px;
  transition: .3s ease;
  background-color: #26262a;
}

.topbar a {
  font-family: "Merriweather", sans-serif;
  padding-top: 20px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  color: white;
  width: 150px;
  text-decoration: none;
  /* transition: .3s; */
}

.sidebar {
  z-index: 3;
  height: 330px;
  width: 160px;
  top: 25%;
  left: 10px;
  position: fixed;
  margin: auto;
  margin-left: 15px;
  overflow: hidden;
  border-radius: 15px;
  background-color: lightgreen;
  transition: .3s;
  animation-duration: .5s ease;
}

.sidebar a {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  display: inline-block;
  color: white;
  width: 100px;
  text-align: left;
  left: 5px;
  margin-left: 10px;
  padding: 14px 16px;
  text-decoration: none;
}

#sidebar {
  position: fixed;
  animation-duration: .3s ease;
}

.sidebar .exit_side {
  font-size: 36px;
  cursor: pointer;
  padding: 10px 16px;
  padding-bottom: -10px;
  display: block;
  background-color: black;
  transition: .3s;
}

#Homebar {
  transition: .3s;
}

#Aboutbar {
  transition: .3s;
}

#Edubar {
  transition: .3s;
}

#Projectsbar {
  transition: .3s;
}

.topbar a.active {
  color: black;
}

.topbar a:hover.active {
  color: black;
}

.topbar a:hover:not(.active) {
  color: gray;
}

.sidebar a.active {
  color: black;
}

/* .sidebar a:hover.active {
  color: black;
} */

.sidebar a:hover:not(.active) {
    color: darkgreen;
}

.Introduction {
  /* opacity: 0; */
  position: absolute;
  left: 0px;
  top: 650px;
  width: 1348px;
  height: 548px;
  background-color: beige;
}

#Intro {
  color: black;
  font-size: 40px;
  width: 1348px;
  position: absolute;
  text-align: center;
  /* top: 40%; */
  /* padding-bottom: 20%; */
  font-family: 'Oswald', sans-serif;
  /* top: -10px; */
}

#line2 {
  z-index: 2;
  top: 75px;
  left: 50%;
  width: 0%;
  border: 1px solid black;
  position: absolute;
  text-align: center;
  transition: .5s;
  /* transition-delay: 1s; */
  opacity: 0;
}

#introNote {
  top: 80px;
  /* left: 41%; */
  width: 1348px;
  padding-bottom: 20px;
  position: absolute;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}



#self_image {
  opacity: 1;
  /* height: 300px; */
  /* width: 390px; */
  width: 405px;
  height: auto;
  position: absolute;
  /* text-align: center; */
  clip: rect(10px,10px,10px,10px);
  top: 200px;
  left: -50%;
  /* transform: scale(0.25); */
  overflow: hidden;
  z-index: 1;
  margin: auto;
  transition: .75s ease;
  transition-delay: .5s;
  border: 5px solid lightblue;
  border-radius: 50%;
  /* overflow: hidden; */
  color: #009933;
  background-color: lightblue;
}

#info_title {
  opacity: 0;
  color: #009933;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  position: absolute;
  /* margin-left: 50px; */
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 0px;
  /* text-align-last: center; */
  /* border: 5px solid blue; */
  /* background-color: blue; */
  top: 135px;
  left: 680px;
  height: 25px;
  width: 200px;
  transition: .3s;
  transition-delay: 1.25s;
}

#info_line {
  color: black;
  border: 3px solid black;
  border-radius: 60%;
  text-align: left;
  position: absolute;
  /* margin-left: 120px; */
  top: 160px;
  left: 680px;
  width: 0px;
  opacity: 0;
  transition: .3s;
  transition-delay: 1.5s;
}

#info {
  opacity: 0;
  line-height: 175%;
  height: 320px;
  width: 570px;
  top: 170px;
  left: 680px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  position: absolute;
  /* background-color: green; */
  /* margin-left: 120px; */
  /* margin-right: 1200px; */
  padding-top: 0px;
  padding-bottom: 0px;
  /* padding-left: 0px; */
  padding-right: 0px;
  /* border: 1px solid black;
  border-radius: 50%; */
  /* background-color: white; */
  transition: .3s;
  transition-delay: 1.5s;
}

.Education {
  /* opacity: 0; */
  /* background-color: beige; */
  position: absolute;
  left: 0px;
  top: 1195px;
  width: 1348px;
  height: 530px;
}

#Education {
  z-index: 2;
  color: black;
  font-size: 40px;
  position: absolute;
  text-align: center;
  /* top: 40%; */
  /* left: 50%; */
  width: 1348px;

  /* padding-bottom: 20%; */
  font-family: 'Oswald', sans-serif;
  /* top: -10px; */
}

#line_education {
  z-index: 2;
  top: 75px;
  left: 50%;
  width: 0%;
  border: 1px solid black;
  position: absolute;
  text-align: center;
  transition: .5s;
  /* transition-delay: 1s; */
  opacity: 0;
}

#educationNote {
  z-index: 2;
  top: 80px;
  /* left: 50%; */
  /* position: absolute; */
  /* text-align: center; */
  /* top: 14%;
  left: 35%; */
  width: 1348px;
  position: absolute;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

#educationPic1 {
  z-index: 1;
  opacity: 0;
  top: -2.5%;
  height: 111.25%;
  width: 1348px;
  position: absolute;
  /* margin-top: 0px; */
  /* margin-bottom: 10px; */
  background-image: url(../images/BCHSPainting.jpg);
  background-repeat: no-repeat;
  background-size: 1348 650px;
  background-attachment: fixed;
  transition: .5s ease;
}

#educationPic2 {
  z-index: 1;
  opacity: 0;
  top: -2.5%;
  height: 111.25%;
  width: 1348px;
  position: absolute;
  /* margin-top: 0px; */
  /* margin-bottom: 10px; */
  background-image: url(../images/google-kirkland-office-front.jpg);
  background-repeat: no-repeat;
  background-size: 1348 650px;
  background-attachment: fixed;
  transition: .5s ease;
}

#BC_tab {
  opacity: 0;
  top: -25%;
  left: 0px;
  position: absolute;
  transition-delay: 1s;
  transition: .5s;
}

#CSSI_tab {
  opacity: 0;
  top: -25%;
  left: 0px;
  position: absolute;
  transition: .5s;
}

#education_title1 {
  z-index: 2;
  /* opacity: 0; */
  color: darkgreen;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  position: absolute;
  /* text-align-last: center; */
  /* border: 5px solid blue; */
  top: 300px;
  left: 400px;
  height: 25px;
  width: 400px;
  transition: .5s;
  /* transition-delay: 1.25s; */
}

#education_line1 {
  z-index: 2;
  color: black;
  border: 3px solid black;
  border-radius: 60%;
  position: absolute;
  margin-left: 120px;
  top: 324px;
  left: 400px;
  /* width: 1348; */
  /* opacity: 0; */
  transition: .5s;
  /* transition-delay: 1.5s; */
}

#edu_info1 {
  z-index: 2;
  /* opacity: 0; */
  line-height: 175%;
  height: 90px;
  width: 550px;
  top: 334px;
  left: 400px;
  color: #1a1a1a;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  position: absolute;
  transition: .5s;
  /* transition-delay: 1.5s; */
}

#education_title2 {
  z-index: 2;
  /* opacity: 0; */
  color: darkgreen;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  position: absolute;
  /* text-align-last: center; */
  /* border: 5px solid blue; */
  top: 300px;
  left: 400px;
  height: 25px;
  width: 400px;
  transition: .5s;
  /* transition-delay: 1.25s; */
}

#education_line2 {
  z-index: 2;
  color: black;
  border: 3px solid black;
  border-radius: 60%;
  position: absolute;
  margin-left: 120px;
  top: 324px;
  left: 400px;
  /* width: 1348; */
  /* opacity: 0; */
  transition: .5s;
  /* transition-delay: 1.5s; */
}

#edu_info2 {
  z-index: 2;
  /* opacity: 0; */
  line-height: 175%;
  height: 90px;
  width: 550px;
  top: 334px;
  left: 400px;
  color: #1a1a1a;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  position: absolute;
  transition: .5s;
  /* transition-delay: 1.5s; */
}

#education_tabs {
  z-index: 2;
  height: 25px;
  width: 1336px;
  bottom: 5px;
  display: inline-block;
  position: absolute;
  list-style-type: none;
  margin: 0px;
  text-align: center;
  padding: 0px;
  overflow: hidden;
  border-radius: 15px;
  transition: .5s ease;
  /* background-color: lightgreen; */
}

#education_tabs a {
  z-index: 2;
  font-family: "Merriweather", sans-serif;
  /* font-size: 20px; */
  cursor: pointer;
  display: inline-block;
  /* color: gray; */
  width: 20px;
  bottom: 5px;
  text-decoration: none;
  /* transition: .5s; */
  /* color: white; */
}

#education_tabs a:hover {
  /* color: black; */
}

/* .active {
  color: #009933;
} */

#education_tabs a:hover:not(.active) {
  /* color: black; */
}

#left_arrow {
  font-size: 20px;
  color: black;
}

#bubble1 {
  font-size: 22px;
  color: gray;
}

#bubble2 {
  font-size: 22px;
  color: gray;
}

#right_arrow {
  font-size: 20px;
  color: black;
}

p:hover.active {
  padding-top: -105px;
  font-size: 16px;
  transition: .5s ease;

}

p:hover:not(.active) {
  padding-top: -105px;
  font-size: 16px;
  transition: .5s ease;

}

.myProjects {
  /* opacity: 0; */
  font-family: 'Oswald', sans-serif;
  background-color: lightblue;
  position: absolute;
  top: 1787px;
  height: 650px;
  width: 1348px;
  left: 0px;
}

/* .Project {
  opacity: 0;
  background-color: lightblue;
  position: absolute;
} */

#Project {
  font-size: 40px;
  transition: .5s ease;
}

#line3 {
  z-index: 2;
  top: 75px;
  left: 50%;
  width: 0%;
  border: 1px solid black;
  position: absolute;
  text-align: center;
  transition: .5s;
  /* transition-delay: 1s; */
  opacity: 0;
}

#projectNote {
  top: 0px;
  left: 50%;
  /* position: absolute; */
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

#project_images {
  cursor: pointer;
  height: 200px;
  width: 450px;
  position: absolute;
  /* z-index: 3; */
  opacity: 0.5;
  top: 35%;
  left: 33%;
  transition: .5s ease;
  border: 5px solid white;
  border-radius: 10px;
  background-color: lightblue;
}

#click_space {
  cursor: pointer;
  /* color: white; */
  /* background-color: green; */
  position: absolute;
  /* font-family: serif; */
  /* text-align: center; */
  padding-top: 100px;
  /* top: 4; bottom:4 ; left: ; right:; */
  border: 5px;
  border-radius: 10px;
  height: 100px;
  top: 36%;
  left: 33%;
  width: 450px;
  margin: auto;
  opacity: 1;
  transition: .5s ease;
}

#project_dropdown {
  /* cursor: pointer; */
  color: white;
  position: absolute;
  font-family: serif;
  text-align: center;
  padding-top: 100px;
  /* top: 4; bottom:4 ; left: ; right:; */
  /* border: 5px solid orange; */
  border-radius: 10px;
  height: 255px;
  top: 36%;
  left: 20%;
  width: 450px;
  margin: auto;
  opacity: 1;
  transition: .5s ease;
}

#opacity_title {
  color: #009933;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  position: absolute;
  /* text-align-last: center; */
  /* border: 5px solid blue; */
  top: 30%;
  left: 48%;
  height: 25px;
  width: 100px;
  opacity: 0.01; /* 0.01*/
  /* transition-delay: 1s; */
  transition: .3s;
}

#opacity_line {
  color: white;
  border: 3px solid white;
  border-radius: 60%;
  position: absolute;
  top: 34%;
  left: 55%;
  width: 0px;
  opacity: 0;
  transition: .3s;
}

#opacity_text {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  position: absolute;
  /* text-align-last: center; */
  /* border: 5px solid blue; */
  top: 35%;
  left: 48%;
  line-height: 175%;
  height: 205px;
  width: 440px;
  opacity: 0.01; /* 0.01*/
  transition: .3s;
  transition-delay: .3s;
}

#git_tags {
  /* position: absolute; */
  margin-top: 20%;
  left: 40%;
  opacity: 0;
  transition: .3s;
}

#pointer {
  cursor: pointer;
}

.guava a:hover.active {
  color: black;
}

.guava a:hover:not(.active) {
  color: #009933;
}

.guava {
  bottom: 125px;
  top: 85%;
  left: 60%;
  height: 32px;
  width: 150px;
  position: absolute;
  border-radius: 50px;
  background-color: beige;
}

#github1 {
  left: 5%;
  height: 24px;
  width: 24px;
  margin: 3px;
  position: absolute;
  transition: .3s;
}

#guavaName {
  top: -15px;
  left: 50px;
  position: absolute;
  transition: .3s;
}

.dmart a:hover.active {
  color: black;
}

.dmart a:hover:not(.active) {
  color: #009933;
}

.dmart {
  top: 85%;
  bottom: 125px;
  left: 74%;
  height: 32px;
  width: 150px;
  position: absolute;
  border-radius: 50px;
  background-color: beige;
}

#github2 {
  left: 5%;
  height: 24px;
  width: 24px;
  margin: 3px;
  position: absolute;
  transition: .3s;
}

#dmartName {
  top: -15px;
  left: 50px;
  position: absolute;
  transition: .3s;
}

.Contact {
  z-index: 3;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  top: 2425px;
  left: 0px;
  height: 325px;
  width: 1348px;
  /* bottom: -50px; */
  /* padding-top: 1px; */
  color: white;
  background-color: #26262a;
}

#Contact {
  font-size: 40px;
  transition: .5s ease;
}

#line4 {
  z-index: 3;
  /* padding-top: 5%; */
  top: 75px;
  left: 50%;
  width: 0%;
  height: 0px;
  border: 1px solid white;
  position: absolute;
  text-align: center;
  transition: .5s;
  /* transition-delay: 1s; */
  opacity: 1;
}

#contactNote {
  top: 85px;
  left: 44%;
  padding-bottom: 20px;
  position: absolute;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

/* .links {

    display: inline-block;
    position: absolute;
    list-style-type: none;
    margin: 0px;
    text-align: center;
    padding: 0px;
    overflow: hidden;
} */

#linkedin {
  opacity: 0;
  height: 66px;
  width: 66px;
  top: 160px;
  left: 23%;
  position: absolute;
  transition: .5s;
}

#link_account {
  position: absolute;
  height: 20px;
  top: 210px;
  left: 21%;
  opacity: 0;
  transition: .3s;
}

#github {
  opacity: 0;
  height: 64px;
  width: 64px;
  top: 160px;
  left: 48%;
  position: absolute;
  transition: .5s;
}

#git_account {
  color: white;
  position: absolute;
  height: 20px;
  top: 210px;
  left: 46%;
  opacity: 0;
  transition: .3s;
}

#gmail {
  opacity: 0;
  height: 64px;
  width: 64px;
  top: 160px;
  left: 73%;
  position: absolute;
  transition: .5s;
}

#mail_account {
  position: absolute;
  height: 20px;
  top: 210px;
  left: 67%;
  opacity: 0;
  transition: .3s;
}

.bottombar {
  height: 25px;
  width: 1336px;
  bottom: 45px;
  display: inline-block;
  position: absolute;
  list-style-type: none;
  margin: 0px;
  text-align: center;
  padding: 0px;
  overflow: hidden;
  border-radius: 15px;
  transition: .3s ease;
  /* background-color: lightgreen; */
}

.bottombar a {
  font-family: "Merriweather", sans-serif;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  color: white;
  width: 150px;
  bottom: 45px;
  text-decoration: none;
  /* transition: .3s; */
  /* color: white; */
}

/* .bottombar a.active {
  color: gray;
} */

/* .bottombar div:hover.active {
  color: gray;
}

.bottombar div:hover:not(.active) {
  color: white;
} */

.bottombar a:hover.active {
  color: white;
}

.bottombar a:hover:not(.active) {
  color: gray;
}

/* .bottombar a.active {
  color: gray;
} */
